librosa
black
transformers
sentence-transformers
nltk
kss
openai-whisper
numpy==1.26.3
torch
torchaudio
dotenv
openai
langchain
langchain-anthropic
langchain-openai
langchain-xai
langchain-core
ctc_segmentation